.recipes {
  margin-top: 0.3rem;
}

.sub-header {
  display: flex;
  justify-content: space-between;
}

.dropdown {
  list-style: none;
  background-color: rgba(53, 53, 53, 0.9);
  color: #f0f0f0;
}

.dropdown-item {
  padding: 1.5rem;
}

.hidden {
  visibility: hidden;
}
