
<div class="row">
  <div class="recipes">

    <div class="sub-header">
      <a (click)="onAddNewRecipe()" class="btn btn-dark u-margin-bottom-md">New Recipe</a>
      <ul class="dropdown" [ngClass]="{hidden: !showDropDown}">
        <li class="dropdown-item">
          <a class="dropdown-link navbar__items-link" href="" (click)="onNavigate($event, 'account')">Account</a>
        </li>
        <li class="dropdown-item">
          <a class="dropdown-link navbar__items-link" href="" (click)="onLogout($event)">Logout</a>
        </li>
      </ul>
    </div>
    <hr>


    <div class="col-1-of-2">
      <app-recipe-list></app-recipe-list>
    </div>
    <div class="col-1-of-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>